<html>
    <head>
        <!-- INSERT HEAD INFO HERE -->
        <title>
            {% block title %}
                children template should override this block
            {% endblock title %}
        </title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>

    <body>
        <div class="container-fluid" style="height:100%">
            <div class="row" style="height:10%">
                <div class="container-fluid fixed-top">
                    {% block header %}
                        <div id="header">
                            define base header here
                        </div>
                    {% endblock header %}
                </div>
            </div>


            <div class="row" style="height:80%">
                <div class="container-fluid" style="height:100%">
                    {% block content %}
                        <div id="content">
                            children templates should override this block
                        </div>
                    {% endblock content %}
                </div>
            </div>


            <div class="row" style="height:10%">
                <div class="container-fluid fixed-bottom">
                    {% block footer %}
                        <div id="footer">
                            define base footer here
                        </div>
                    {% endblock footer %}
                </div>
            </div>
        </div>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>