{% extends "polls/base.html" %}

{% block title %}
    Homepage
{% endblock title %}

{% block content %}
    <h1>Homepage</h1>

    <div class="text-center" style="height:100%">
        {% if count > 0 %}
            <a class="btn btn-primary text-center"  href="{% url 'prepareUser' %}">Start questionnaire</a>
        {% else %}
            <a class="btn btn-secondary text-center disabled" href="#">Start questionnaire</a>
            <p class="text-cented text-secondary">(No performance available)</p>
        {% endif %}
    </div>
    
{% endblock content %}