{% extends "polls/base.html" %}

{% block title %}
    Questionnaire
{% endblock title %}

{% block content %}
    <style>
        .my_td {
            border:none
        }
    </style>

    <div style="height: 10%;">
        <h1>Questionario su {{performance.name}}</h1>
    </div>

    <div style="width:45%; height: 90%; float:left; word-break: break-all;">
        <iframe style="display:block;margin:auto" width="80%" height="65%" src="{{performance.link}}" title="{{performance.name}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="m-3">
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <td><b>NAME</b></td>
                        <td>{{performance.name}}</td>
                    </tr>
                    <tr>
                        <td><b>YEAR</b></td>
                        <td>{{performance.year}}</td>
                    </tr>
                    <tr>
                        <td><b>MUSIC GENRE</b></td>
                        <td>{{musicGenre}}</td>
                    </tr>
                    <tr>
                        <td><b>AI TECHNIQUE</b></td>
                        <td>{{AITechnique}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="overflow-y:scroll; width:55%; height:90%; float:right;  word-break: break-all">
        <form action="{% url 'manageQuestionnaireAnswer' userMappedStr performance.name %}" method="post">
            {% csrf_token %}
            {% for category in categories %}
                <div class="mx-2">
                    <h3><b>{{category.name}}</b></h3>
                    {% for entry in category.questioncategory_set.all %}
                        <p>{{entry.question.text}}</p>
                        <table class="table text-center text-secondary table-responsive">
                               <tbody>
                                    <tr>
                                        <td class="my_td">Strongly Disagree</td>
                                        <td class="my_td"><input class="form-check-input" style="height: 25px; width: 25px;" type="radio" name="{{entry.question.text}}" id="{{entry.question.text}}_1" value="1" required></td>
                                        <td class="my_td"><input class="form-check-input" style="height: 20px; width: 20px; margin-top: 5px;" type="radio" name="{{entry.question.text}}" id="{{entry.question.text}}_2" value="2" required></td>
                                        <td class="my_td"><input class="form-check-input" style="height: 15px; width: 15px; margin-top: 10px" type="radio" name="{{entry.question.text}}" id="{{entry.question.text}}_3" value="3" required></td>
                                        <td class="my_td"><input class="form-check-input" style="height: 20px; width: 20px; margin-top: 5px" type="radio" name="{{entry.question.text}}" id="{{entry.question.text}}_4" value="4" required></td>
                                        <td class="my_td"><input class="form-check-input" style="height: 25px; width: 25px;" type="radio" name="{{entry.question.text}}" id="{{entry.question.text}}_5" value="5" required></td>
                                        <td class="my_td">Strongly Agree</td>
                                    </tr>
                               </tbody>
                            </table> 
                    {% endfor %}
                </div>
                <br>
                <hr style="width: 90%;">
                <br>
            {% endfor %}
            <div class="text-center">
                <input class="btn btn-primary mx-2" type="submit" value="Avanti">
                <input class="btn btn-primary mx-2" type="reset" value="Pulisci risposte">
            </div>
        </form>
    </div>
{% endblock content %}