<html>
    <head>
        <title>test</title>
    </head>
    <body>
        <div style="width:40%; float:left; word-break: break-all">
            <iframe width="80%" height="300" src="https://www.youtube.com/embed/O91DT1pR1ew" title="get rickrolled lol" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div style="overflow-y:scroll; width:55%; height:100px; float:right; border:1px solid black;  word-break: break-all">
            <p>looooooooooooooooooooooooooooooooooooooooooooooooooo0000000000000000000000000000000000000000000000000oooooooooooooooooooooooooooooooooooooooooooooool</p>
            <p>looool</p>
            <p>looool</p>
            <p>looool</p>
            <p>looool</p>
            <p>looool</p>
            <p>looool</p>
            <p>looool</p>
            <p>looool</p>
            <p>looool</p>
            <p>looool</p>
            <p>looool</p>
            <p>looool</p>
            <p>looool</p>
            <p>looool</p>
        </div>
    </body>
</html>