{% extends "polls/base.html" %}

{% block title %}
    Questionnaire
{% endblock title %}

{% block content %}
    <div style="height: 10%;">
        <h1>Questionario su {{performance.name}}</h1>
    </div>

    <div style="width:45%; height: 90%; float:left; word-break: break-all;">
        <iframe style="display:block;margin:auto" width="80%" height="65%" src="{{performance.link}}" title="{{performance.name}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="m-3">
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <td><b>NAME</b></td>
                        <td>{{performance.name}}</td>
                    </tr>
                    <tr>
                        <td><b>YEAR</b></td>
                        <td>{{performance.year}}</td>
                    </tr>
                    <tr>
                        <td><b>MUSIC GENRE</b></td>
                        <td>{{musicGenre}}</td>
                    </tr>
                    <tr>
                        <td><b>AI TECHNIQUE</b></td>
                        <td>{{AITechnique}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="overflow-y:scroll; width:55%; height:90%; float:right;  word-break: break-all">
        <form action="{% url 'manageQuestionnaireAnswer' userMappedStr performance.name %}" method="post">
            {% csrf_token %}
            {% for category in categories %}
                <div class="mx-2">
                    <h3><b>{{category.name}}</b></h3>
                    {% for entry in category.questioncategory_set.all %}
                        <p>{{entry.question.text}}</p>
                        <div class="text-secondary" style="font-size: 12px;">
                            {% for i in likertValues %}
                                {% if i == 1 %}
                                    Strongly Disagree   
                                {% endif %}
                                <div class="form-check form-check-inline mx-3">
                                    <input class="form-check-input" type="radio" id="{{entry.question.text}}_{{i}}" name="{{entry.question.text}}" value="{{i}}" required>
                                    <script>
                                        var elem = document.getElementById("{{entry.question.text}}_{{i}}")
                                        elem.style.fontSize = 15 + Math.abs(elem.value - 3)*5;
                                        console.log("{{i}}")
                                    </script>
                                </div>
                                {% if i == 5 %}
                                    Strongly Agree<br><br>
                                {% endif %}
                                
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <br>
                <hr style="width: 90%;">
                <br>
            {% endfor %}
            <div class="text-center">
                <input class="btn btn-primary mx-2" type="submit" value="Avanti">
                <input class="btn btn-primary mx-2" type="reset" value="Pulisci risposte">
            </div>
        </form>
    </div>
{% endblock content %}